/*colors used :
#635039 : dark brown
#ab8963 : light brown
#76e3ed : turquoise
#5cf2ff : light turqoise
#f7c88d : peach
*/

/*bootstrap css used in html
.pt : padding top
.pb : padding bottom
.px : padding sides
.py : padding vertical

*/


/*Styles for text*/
p {
  font-family: Helvetica, Verdana, sans-serif;
  color: black;
}
h2 {
  color: white;
  text-shadow: 1px 4px 6px rgba(0,0,0,0.75);
  font-size: 40px;
}
h4 {
  color: #635039; /* dark brown */
  letter-spacing: 5px;
}
h5 {
  color: #635039; /*dark brown*/
}
h6 {
  font-size: 16px;
}
.smallp {
  font-size: 12px;
}
.whitep {
  color: white;
  text-shadow: 1px 4px 6px rgb(0,0,0,0.55);
}
ul{
  list-style: none;
  padding-left: 10px;
}

/*link styles */
a{
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 10px rgba(0,0,0,0.75);
}
/* unvisited link */
a:link {
  color: white;
}
/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #5cf2ff; /*light turqoise*/
}
/* selected link */
a:active {
  color: #ab8963; /*light brown*/
}

/*button styles */
button {
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.75);
  background-color: #f7c88d;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
button:hover {
  box-shadow: 0px 0px 8px #76e3ed; /*turqoise*/
}


/*figcaption styles*/
figcaption {
  color: black;
  font-size: 14px;
  text-shadow: none;
}
figcaption:hover {
  color: #ab8963 /* light brown*/
}

/*styles to use on divs*/
.outlined-t {
  border-top: 5px groove #76e3ed; /*top turqoise border*/
}
.outlined-b {
  border-bottom: 5px groove #76e3ed; /*bottom turquoise border*/
}
.shadow-b {
  box-shadow: 0px 8px 8px -8px rgba(0,0,0,0.75); /*bottom box shadow*/
}
.inset-b {
  box-shadow: inset -2px -1px 15px 5px rgb(0,0,0,0.55); /*inset box shadow*/
}
.bluebg {
  background-color: rgb(71, 186, 196, 0.65); /*turquoise background*/
}
.greybg {
  background-color: rgb(0,0,0,0.25); /*light grey background*/
}

/*styling for the navigation bar*/
#topbar {
  background-color: white;
  position: sticky; /*so it sticks to top of page even when scrolling down*/
  top: 0;
}
/*styling for the sidebar*/
#sidebar {
  background-color: #f7c88d;
}
#sidebar ul {
  font-size: 13px;
  color: #5cf2ff; /*light turqoise*/
}
#sidebar a {
  font-size: 13px;
}

/*styling for main columns (padding and alignment)*/
#main .col {
  padding-bottom: 20px;
  padding-top: 20px;
  display: grid;
  align-items: flex-end;
}

/*styling for the footer*/
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  background-color: #b0b0b0; /*light grey*/
  height: 40px;
}
/*padding for the bottom so that the footer can fit*/
#bottom {
  padding-bottom: 40px;
}

/*styles for the dropdown menu*/
.dropdown {
  display: flex;
}
.dropdown-content {
  display: none;
  width: 80%;
  position: absolute;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #f7c88d;
  z-index: 1;
  box-shadow: 1px 4px 15px 3px rgba(0,0,0,0.50);
  border-radius: 5px;
  margin-top: 52px;
}

.dropdown ul {
  padding-left: 5px;
  font-size: 16px;
}
.dropdown li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}


@media only screen and (min-width: 768px) {
  .dropdown button {
    background-color: transparent;
    margin: 0;
    text-decoration: bold;
    padding: 0;
    text-transform: none;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.75);
  }
  .dropdown-content {
    margin-top: 30px;
  }
  .dropdown:hover {
    color: #f7c88d; /* peach*/
    box-shadow: none;
  }
}


/*sizing for thumbnail images*/
.thumbnail {
  width: 120px;
}
@media only screen and (min-width: 768px) {
  .thumbnail {
      width: 140px;
  }
}
@media only screen and (min-width: 1024px) {
  .thumbnail {
      width: 180px;
  }
}
/*background pictures*/
.kmbg { /*small KM logo*/
  background-image: url("images/km.1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.midimage {
  background-image: url("images/MiddleBanner.jpg");
  background-size: cover;
}
